:root {
  --xxl-text: clamp(1.7rem, 1.4333333333333333rem + 1.3333333333333335vw, 2.5rem);
  --xxl-text-alt: 1.7rem;
  --xl-text: clamp(1.5rem, 1.3333333333333333rem + 0.8333333333333334vw, 2rem);
  --xl-text-alt: 1.5rem;
  --l-text: clamp(1.3rem, 1.1333333333333333rem + 0.8333333333333334vw, 1.8rem);
  --l-text-alt: 1.3rem;
  --m-text: clamp(1.1rem, 1.0000000000000002rem + 0.49999999999999967vw, 1.4rem);
  --m-text-alt: 1.1rem;
  --s-text: clamp(1rem, 0.9333333333333333rem + 0.33333333333333326vw, 1.2rem);
  --s-text-alt: 1rem;
  --xs-text: clamp(0.85rem, 0.7999999999999999rem + 0.25000000000000006vw, 1rem);
  --xs-text-alt: 0.85rem;
  --xxs-text: clamp(0.75rem, 0.7rem + 0.25000000000000006vw, 0.9rem);
  --xxs-text-alt: 0.75rem;
  --display-font: 'Yeon Sung', cursive;
  --content-font: 'Poppins', sans-serif;
  --s-radius: 5px;
  --m-radius: 10px;
  --l-radius: 15px;
  --white: #fafafa;
  --sage: #B8D9B0;
  --dark-green: #0E2603;
  --black: #030D02;
  --bright-green: #628C07;
  --brigher-green: #97BF06;
  --grey-green: #d8dfd5;
  box-sizing: border-box;
}

h1 {
  font-size: var(--xxl-text-alt);
  font-size: var(--xxl-text);
}

h2 {
  font-size: var(--xl-text-alt);
  font-size: var(--xl-text);
}

h3 {
  font-size: var(--l-text-alt);
  font-size: var(--l-text);
}

h4 {
    font-size: var(--m-text-alt);
    font-size: var(--m-text);
}

h5 {
    font-size: var(--s-text-alt);
    font-size: var(--s-text);
}

button {
  font-family: var(--content-font);
  padding: .3rem;
  border: none;
  border-radius: var(--s-radius);
  margin: .5rem;
}

button.liked {
  background-color: var(--brigher-green);
}

.logo-text {
  font-family: var(--display-font);
}
.app {
  background-color: var(--grey-green);
  min-height: 100vh;
  margin: 0;
}

.link-element {
  text-decoration: none;
}

.post-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* post styles */
.compact-post{
  background-color: var(--sage);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: var(--l-radius);
  height: 30rem;
  width: 17rem;
  margin: 2rem;
}

.post-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1rem;
  margin-top: .5rem;
  width: 90%;
  min-height: 5rem;
}

.post-intro {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.post-img {
  max-height: 20rem;
  width: 17rem;
  object-fit: cover;
}

.post-title {
  margin: .2rem;
}

.post-author {
  margin: .2rem;
}

.feedback-box, .feedback-comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.post-interaction {
  display: flex;
}

/* tags */
.post-tag {
  font-weight: 600;
  color: var(--white);
  padding: .3rem;
  border-radius: 1rem;
  font-size: .85rem;
  margin-bottom: .5rem;
  margin: 0;
  text-align: center;
}

.post-tag.happy-plant {
  background-color: var(--brigher-green);
  color: var(--content-font);
}
.post-tag.new-growth {
  background-color: var(--bright-green)
}

.post-tag.identification {
  background-color: goldenrod;
  color: var(--content-font)
}

.post-tag.seeking-advice {
  background-color: var(--dark-green);
  max-width: 7rem;
}

.edit-delete-box {
  display: flex;
}
